@font-face {
  font-family: 'Vitesse Sans Book';
  src: url('../fonts/VitesseSans-Book.otf');
}

* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  background: #ececec; }

.header {
  color: #FFF;
  background: #3A3A3A;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  z-index: 2;
  border-bottom-width: 0px !important;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 4px !important;
  }

  .header .header__button {
    width: 36px;
    height: 36px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0;
    opacity: 0.54;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px;
    background-color: transparent; }

  .header-buttons {
    display: flex;
    left: 10px;
    margin-right: 16px;
  }

  .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    top: 8px;
    margin-right: 16px;
    width: 36px;
    height: 36px;
    font-size: 0;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }

  .c-hamburger span {
    display: block;
    position: absolute;
    top: 16px;
    left: 6px;
    width: 24px;
    height: 4px;
    background: white;
    opacity: 0.54;
  }

  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 24px;
    height: 4px;
    background-color: #fff;
    content: "";
  }

  .c-hamburger span::before {
    top: -10px;
  }

  .c-hamburger span::after {
    bottom: -10px;
  }
    .c-hamburger:focus {
      outline: none;
    }

    .c-hamburger--htla span {
      -webkit-transition: transform 0.3s;
      transition: transform 0.3s;
    }

    .c-hamburger--htla span::before {
      -webkit-transform-origin: top right;
      transform-origin: top right;
      -webkit-transition: transform 0.3s, width 0.3s, top 0.3s;
      transition: transform 0.3s, width 0.3s, top 0.3s;
    }

    .c-hamburger--htla span::after {
      -webkit-transform-origin: bottom right;
      transform-origin: bottom right;
      -webkit-transition: transform 0.3s, width 0.3s, bottom 0.3s;
      transition: transform 0.3s, width 0.3s, bottom 0.3s;
    }

    /* active state, i.e. menu open */
    .c-hamburger--htla.active span {
      -webkit-transform: translatex(2.5px) rotate(180deg);
      transform: translatex(2.5px) rotate(180deg);
    }

    .c-hamburger--htla.active span::before,
    .c-hamburger--htla.active span::after {
      width: 58.25%;
    }

    .c-hamburger--htla.active span::before {
      top: 0;
      -webkit-transform: translatex(15px) translatey(2px) rotate(45deg);
      transform: translatex(15px) translatey(2px) rotate(45deg);
    }

    .c-hamburger--htla.active span::after {
      bottom: 0;
      -webkit-transform: translatex(15px) translatey(-2px) rotate(-45deg);
      transform: translatex(15px) translatey(-2px) rotate(-45deg);
    }
  /*.header #advanced-button {
    background: url(../images/advanced_white_24px.svg) center center no-repeat;
    background-color: rgba(58, 58, 58, 1);
    background-size: 30px;
    padding: 3px 3px 3px 3px;
  }

  .header #dashboard-button {
    background: url(../images/ic_home_white_24px.svg) center center no-repeat;
    background-color: rgba(58, 58, 58, 1);
    background-size: 30px;
  }

  .header #refresh-button {
    background: url(../images/refresh.svg) center center no-repeat;
    background-color: rgba(58, 58, 58, 1);
    background-size: 30px;
  }

  .header .shutdown-button {
    background: url(../images/shutdown.svg) center center no-repeat;
    background-color: rgba(58, 58, 58, 1);
    background-size: 30px;
    margin-left: 0px;
  }

  .header .wan-button {
    background: url(../images/ethernet.svg) center center no-repeat;
    background-color: rgba(58, 58, 58, 1);
    background-size: 30px;
  }

  .header .upload-button {
    background: url(../images/upload.svg) center center no-repeat;
    background-color: rgba(58, 58, 58, 1);
    background-size: 30px;
  }

  .header #delete-button {
    background: url(../images/delete_transparent.svg) center center no-repeat;
    background-color: rgba(58, 58, 58, 1);
    background-size: 30px;
  }*/

.header__title {
  font-family: 'Vitesse Sans Book', 'Helvetica';
  font-size: 1.85em;
}


/* Alert bar */
#alert {
    width: auto;
    position: fixed;
    top: 56px;
    z-index: 1;
}

.command-alert.active {
    height: auto;
    position: relative;
    border-radius: 0px;
}

.command-alert {
    background-color: #c4453c;
    background-image: -webkit-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.05) 25%,
                      hsla(0,0%,0%,.05) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.05) 75%,
                      hsla(0,0%,0%,.05));
    background-image: -moz-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    animation: fading 3s infinite;
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 0px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.3s;
        transition: 0.3s;
}

.main-row {
  margin: 0px;
}

.main-container {
  height: calc(100% - 63px);
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.base-container {
  height: 100%;
}

.sidebar-container {
  z-index: 2;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #3c4550;
  /*box-shadow: 4px 0px 5px 0 rgba(0, 0, 0, 0.14), 2px 0px 9px 1px rgba(0, 0, 0, 0.12), 4px 0px 2px -2px rgba(0, 0, 0, 0.2);*/
}

.nav-tabs {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #3c4550;
}

.command-container {
  background-color: #fff;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.command-container.sidebar-active {
  padding-left: 0px !important;
}

@keyframes fading {
  0% {
    opacity: 0.5 }
  50% {
    opacity: 1.5 }
  100% {
    opacity: 0.5 }
}

/* The side navigation menu */
.sidebar {
    /* height: 100%; */
    /* padding-bottom: 5%; */
    /* background-color: #3c4550; */
    /*background-color: #111;*/
    overflow-x: hidden;
    box-shadow: 4px 0px 5px 0 rgba(0, 0, 0, 0.14), 2px 0px 9px 1px rgba(0, 0, 0, 0.12), 4px 0px 2px -2px rgba(0, 0, 0, 0.2);
}

.sidebar.active {
    left: 0;
    max-width: 85%;
    /* flex: 0.35; */
}

.collapsed {
  opacity: 0;
  width: 0rem !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

    .command .card__container .card__description .output {
        font-size: 0.6em !important;
    }
}


@media screen and (max-width: 650px) {
    .header__title {
        font-size: 0;
    }

    .header .header__button {
      width: 34px;
      height: 34px;
      margin-right: 3px;
    }

    .c-hamburger {
      width: 34px;
      height: 34px;
      top: 0px;
    }

    .c-hamburger span {
      left: 5px;
      top: 15px;
    }

    .header-buttons {
      margin-right: 0px;
    }
}

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

  .circular {
    box-sizing: border-box;
    stroke: #F2A900;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
            animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    stroke: #111;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
    stroke: #F2A900; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    stroke: #111;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    stroke: #111;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
    stroke: #F2A900; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    stroke: #111;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

.main {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.overlay-active {
    background: rgba(0,0,0,0.5);
    animation: opac 0.8s;
    z-index: 1;
    height: 100%;
    position: fixed;
    width: 100%;
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity:1
  }
}

.dialog-container {
  background: rgba(0, 0, 0, 0.57);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1); }

.dialog-container--visible {
  z-index: 1;
  opacity: 1;
  pointer-events: auto; }

.dialog {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
  min-width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) translateY(30px);
          transform: translate(-50%, -50%) translateY(30px);
  -webkit-transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s, -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s; }

.dialog > div {
  padding-left: 24px;
  padding-right: 24px; }

.dialog-title {
  padding-top: 20px;
  font-size: 1.25em; }

.dialog-body {
  padding-top: 20px;
  padding-bottom: 24px; }
  .dialog-body select {
    width: 100%;
    font-size: 2em; }

.dialog-buttons {
  padding: 8px !important;
  float: right; }

.section {
    padding-bottom: 8px;
}

.card {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  margin: 16px 16px 1rem 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.card-buttons {
  float: right;
  padding-right: 8px;
}

.card__delete-button {
    margin-left: 20px;
}

.dashboard-date {
    float: right;
}

.command .card__command-name {
  text-decoration: underline;
  font-size: 24px;
  -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1
}

.command .card__command-section {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

 .command .card__command-node {
    flex-direction: row;
    display: flex;
}

.command .card__command-status {
  font-size: 0.75em;
}

.command .card__command-status:hover {
  cursor: pointer;
}

.command .card__command-label {
  font-size: 16px;
  padding-top: 8px;
  padding-left: 8px; }

.command .card__date,
.command .card__description {
  font-size: 16px;
  padding-top: 6px; }

  .command .card__date:before {
    /*content: "Last Update:";*/
    text-decoration: underline;
    padding-right: 6px;
    color: #888; }
  /*
  .command > .card__description:before {
    content: "Command:";
    text-decoration: underline;
    padding-right: 6px;
    color: #888; }
  */
.command .card__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

  .command .card__container .icon {
    width: 128px;
    height: 128px; }
  .command .card__container .visual {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 4em; }
    .command .card__container .visual .scale {
      font-size: 0.5em;
      vertical-align: super; }
  .command .card__container .visual,
  .command .card__container .card__description {
     -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
    .command .card__container .card__description .output {
        font: 14px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        background-color: #f6f8fa;
        border-radius: 3px;
        overflow: auto;
        padding: 16px;
        line-height: 1.45;
        max-height: 30em;
        margin-top: 8px;
        white-space: pre-wrap;
    }

.command .card__pass {
	background: url('../images/check_green.svg') center center no-repeat;
	width: 32px;
	height: 32px;
}

.command .card__fail {
	background: url('../images/error.svg') center center no-repeat;
	width: 32px;
	height: 32px;
}

.command .card__loading {
  background: url('../images/loading.svg') center center no-repeat;
  width: 32px;
  height: 32px;
}

.card__pass > .card__spinner, .card__fail > .card__spinner {
	visibility: hidden;
}

.output > .card__spinner {
  right: 50%;
}

@media screen and (max-width: 650px) {
  .command .card__date, .command .card__description {
    font-size: 0.7em; }
  .command .card__container .icon {
    width: 96px;
    height: 96px; }
  .command .card__container .visual {
    font-size: 3em; }
  .command .future .oneday .icon {
    width: 32px;
    height: 32px; }

}

button.accordion {
    /*background-color: #3c4550; */
    color: #e6e6e6;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.sidebar__section__arrow {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: url(../images/ic_expand_more_white_24px.svg) center center no-repeat;
  background-size: 48px;
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

button.active > .sidebar__section__arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


.sidebar__section__label {
  width: 75px;
  font-size: 20px;
}

.sidebar__section {
/*    padding: 8px 8px 8px 8px;*/
    text-decoration: none;
    font-size: 20px;
    color: #e6e6e6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*visibility: hidden;*/
    -webkit-transition: 0.3s;
    transition: 0.3s;
    /*transition: height 0.2s ease-out;*/
    cursor: pointer;
    flex-direction: column;
}

.sidebar__section.active {
    /*visibility: visible;*/
    max-height: 5000px;
}

.sidebar__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.command-node {
    font-size: 16px;
    user-select: none;
}

.undo-container-parent {
  padding: 30px;
  max-width: 500px;
}

.undo-container {
    background-color: #323232;
    border: 4px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -webkit-align-items: center;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    bottom: 6px !important;
    display: flex;
    padding: 10px 10px 10px 20px;
    pointer-events: all;
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .218s ease-in-out;
    transition: all .218s ease-in-out;
}

@-webkit-keyframes undo-container-fade {
  to {overflow: hidden;}
}

@keyframes undo-container-fade {
  to {visibility: hidden;}
}

.undo-container-active {
  opacity: 100;
  display: flex;
}

.undo-container-inactive {
  opacity: 0;
  display: none !important;
}

.undo-desc {
    color: #fff;
    cursor: default;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    line-height: 1;
    word-break: break-all;
    word-break: break-word;
}

.undo-button {
      color: #ffbb00 !important;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      height: 26px;
      margin-left: 5px;
      white-space: nowrap
      cursor: pointer;
      display: inline-block;
      outline: none!important;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      padding: 5px 14px;
      text-transform: uppercase;
      border-radius: 3px;
}

.plus-horizontal {
    position: absolute;
    margin-top: -2px;
    height: 4px;
    background: #a4a4a4;
    width: 24px;
  }
  
  .plus-vertical {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    position: absolute;
    margin-top: -12px;
    margin-left: 10px;
    height: 24px;
    background: #a4a4a4;
    width: 4px;
  }

  .sidebar-title {
    font-size: 24px !important;
    color: #e6e6e6;
    text-align: center;
  }

  .filter-input {
    padding-bottom: 12px;
  }

  .sidebar-header {
    display: block !important;
  }
  
  .sidebar__item .sidebar-button {
    position: relative;
    outline: none !important;
    background: transparent;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .sidebar__item.active .plus-vertical {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
  
button:focus {outline:0;}

.mdl-button {
  border: none;
  border-radius: 2px;
  background-color: transparent;
  position: relative;
  padding-top: 4px;
  
  /*display: inline-block;*/
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  /*text-transform: uppercase;*/
  line-height: 1;
  letter-spacing: 0;
  will-change: box-shadow;
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  /*text-align: center;*/
  /*line-height: 36px;*/
  vertical-align: middle; }
  .mdl-button::-moz-focus-inner {
    border: 0; }
  .mdl-button:hover {
      color: #f1f1f1;
    background-color: rgba(158, 158, 158, 0.5) !important; }
  .mdl-button.mdl-button--colored {
    color: #3f51b5; }
    .mdl-button.mdl-button--colored:focus:not(:active) {
      background-color: rgba(0, 0, 0, 0.12); }

.mdl-button--primary.mdl-button--primary {
  color: #3f51b5; }
  .mdl-button--primary.mdl-button--primary .mdl-ripple {
    background: white; }
  .mdl-button--primary.mdl-button--primary.mdl-button--raised, .mdl-button--primary.mdl-button--primary.mdl-button--fab {
    color: white;
    background-color: #3f51b5; }

.login-input-group {
  padding-bottom: 10px;
}


.login-button {
  align-self: center;
  color: #fff;
  border-bottom: 1px solid #e89500;
  background-color: #ffaf20;
  float: right;
}

.in {
  opacity: 0.5 !important;
}

.fade.in {
  opacity: 1 !important;
  display: block;
}

  